.addtaskbox {
  padding: 10px;
  margin: 20px auto;
  width: auto;
  height: fit-content;
  border-width: 1px;
  border-color: var(--border-color);
  border-style: solid;
  border-radius: 20px;
  background-color: var(--background-secondary);
}

.addtaskform {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.addtaskform > label {
  margin: 0;
  margin-right: auto;
}
.taskform1 {
  display: flex;
  justify-content: space-between;
  font-size: calc(15px + 2vmin);
}

.taskform2 {
  display: flex;
  width: 100%;
}

button {
  cursor: pointer;
}

input, button {
  border-width: 2px;
  border-color: var(--border-color);
  border-style: solid;
  border-radius: 5px;
  background-color: var(--background-primary);
  color: var(--text-primary);
}

.taskform2 > #addtaskname {
  margin-right: auto;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: calc(15px + 1.5vw);
}

.taskform2 > #addtaskdeadline {
  font-family: "Poppins", sans-serif;
  font-size: calc(5px + 1vw);
}

#addtaskdes {
  resize: none;
  border-width: 2px;
  border-color: var(--border-color);
  border-style: solid;
  border-radius: 5px;
  background-color: var(--background-primary);
  color: var(--text-primary);
  font-family: "Poppins", sans-serif;
  font-size: calc(5px + 1vw);
}

#addtaskbutton {
  font-family: "Poppins", sans-serif;
  font-size: calc(5px + 4vw);
  text-align: center;
  background-color: var(--background-secondary);
  height: fit-content;
  line-height: 1em;
  padding: 10px;
  margin: 20px auto;
  border-width: 1px;
  border-color: var(--border-color);
  border-style: solid;
  border-radius: 20px;
  cursor: pointer;
}
