@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.navbar {
  display: flex;
  align-items: center;
  height: 10%;
  padding: 30px 25px;
  font-size: 1.5em;
  margin: 0%;
  background-color: var(--background-secondary);
  border-bottom: 2px solid var(--border-color) ;
  font-size: calc(15px + 2vmin);
}

.navbar-title {
  margin: 0% 2%;
}

.navbar button {
  margin-right: auto;
  border-width: 2px;
  border-color: var(--border-color);
  border-style: solid;
  background-color: var(--background-primary);
  color: var(--text-primary);
}

.navbar-timer {
  margin: 0;
}
